@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
fieldset,
label {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

h1 {
  font-size: 1.5em;
  margin: 10px;
}


/****** Style Star classificacao Widget *****/

.classificacao {
  border: none;
  float: left;
}

.classificacao > input {
  display: none;
}

.classificacao > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.classificacao > .half:before {
  content: "\f089";
  position: absolute;
}

.classificacao > label {
  color: #ddd;
  float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.classificacao > input:checked ~ label,

/* show gold star when clicked */

.classificacao:not(:checked) > label:hover,

/* hover current star */

.classificacao:not(:checked) > label:hover ~ label {
  color: #FFD700;
}


/* hover previous stars in list */

.classificacao > input:checked + label:hover,

/* hover current star when changing classificacao */

.classificacao > input:checked ~ label:hover,
.classificacao > label:hover ~ input:checked ~ label,

/* lighten current selection */

.classificacao > input:checked ~ label:hover ~ label {
  color: #FFED85;
}